# Ignore Mac system files
.DS_Store

# Ignore VS Code temporary execution files
tempCodeRunnerFile.python
tempCodeRunnerFile*
# Ignore non-related folders for this specific repository
Projeto login/
projeto_extraido/
# Ignorar todos os arquivos dentro da pasta drafts
drafts/
python crash course/
mission sydney/

# Seus dados financeiros (MANTENHA ISSO!)
dados/

# Arquivos de mídia e links que subiram por acidente
*.jpeg
*.htm
projeto_dado_a_decisao.py
